.no-print, form, .fas, .far, .fab {
	display: none !important;
}

html, body {
	color: #333;
	font-family: "Roboto", Helvetica, Arial, 'sans-serif';
	font-size: 1rem;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

a {
	color: #333;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0 0 1rem 0;
	padding: 0;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

h4, h5, h6 {
	font-size: 1rem;
}

ul, ol {
	list-style: none;
	margin: 0 0 1rem 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
}

abbr[title] {
	border: none;
	text-decoration: none;
}

abbr[title]:after {
	content: " (" attr(title) ")";
}

#header {
	border-bottom: 1px solid #ddd;
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	text-align: center;
}

#body {
	border-bottom: 1px solid #ddd;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}

#site-info, #footer {
	border-top: 1px solid #ddd;
	font-size: .75rem;
	margin-top: 2rem;
	padding-top: 2rem;
	text-align: center;
}

.cms ul {
	list-style: disc;
	padding-left: 2rem;
}

.cms ol {
	list-style: decimal;
	padding-left: 2rem;
}

.cms ol li ol {
	list-style: lower-alpha;
}

.print-block {
	border: 1px solid #ddd;
	margin: 0 0 1rem 0;
	padding: 1rem 1rem .5rem 1rem;
}

.print-grid {
	font-size: 0;
	margin: -15px 0 0 -15px;
	padding: 0;
	text-align: left;
}

.print-grid--center {
	text-align: center;
}

[class*="print-grid__col"] {
	box-sizing: border-box;
	display: inline-block;
	font-size: 1rem;
	margin: 0;
	padding: 15px 0 0 15px;
	text-align: left;
	vertical-align: top;
	width: 100%;
}

.print-grid__col-1\/4 {
	width: 25%;
 }

.print-grid__col-1\/3 {
	width: 33.3333%;
}

.print-grid__col-1\/2 {
	width: 50%;
}

.print-grid__col-2\/3 {
	width: 66.6666%;
}

.print-grid__col-3\/4 {
	width: 75%;
}