@model LoggedOutViewModel
@{
	// set this so the layout rendering sees an anonymous user
	ViewData["signed-out"] = true;
}

@section banner
{
	<div class="bg-navy text-white px-6 py-8 md:py-12 lg:py-16 relative z-10">
		<div class="container w-full text-left mx-auto self-center">
			<div class="max-w-lg">
				<div class="flex flex-wrap items-center">
					<h1 class="font-bold w-full text-3xl lg:text-4xl leading-tight">Logout</h1>
				</div>
			</div>
		</div>
	</div>
}

<div class="cms">
	<p><strong>You are now logged out of IdentityServer.</strong></p>
</div>


@if (Model.PostLogoutRedirectUri != null)
{
	<div class="form-actions">
		<a class="btn PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">Return to @Model.ClientName</a>
	</div>
}

@if (Model.SignOutIframeUrl != null)
{
	<iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
}

@section scripts
{
	@if (Model.AutomaticRedirectAfterSignOut)
	{
		<script src="~/js/signout-redirect.min.js" asp-append-version="true"></script>
	}
}