@model LoginViewModel

@section banner
{
	<div class="bg-navy text-white px-6 py-8 md:py-12 lg:py-16 relative z-10">
		<div class="container w-full text-left mx-auto self-center">
			<div class="max-w-lg">
				<div class="flex flex-wrap items-center">
					<h1 class="font-bold w-full text-3xl lg:text-4xl leading-tight">Login</h1>
				</div>
			</div>
		</div>
	</div>
}

@Html.Partial("_ValidationSummary")

@if (Model.EnableLocalLogin)
{
	<form asp-route="Login">
		<input type="hidden" asp-for="ReturnUrl" />
		<div class="form-group">
			<label class="form-label" asp-for="Username"></label>
			<input class="form-control" asp-for="Username" />
		</div>
		<div class="form-group">
			<label class="form-label" asp-for="Password"></label>
			<input type="password" class="form-control" asp-for="Password" autocomplete="off" />
		</div>
		@if (Model.AllowRememberLogin)
		{
			<div class="form-group">
				<ul class="form-checks">
					<li class="form-checks__item">
						<label class="form-checks__label" asp-for="RememberLogin">
							<input class="form-checks__input" asp-for="RememberLogin">
							<span class="form-checks__text">Remember me</span>
						</label>
					</li>
				</ul>
			</div>
		}
		<div class="form-actions">
			<button id="LoginBtn" class="btn" name="button" value="login">Login</button>
			<button class="btn btn-text ml-6" name="button" value="cancel">Cancel</button>
		</div>
	</form>
}

@if (Model.VisibleExternalProviders.Any())
{
	<section class="border-t border-navy-lightest mt-6 pt-6 first-child:border-0 first-child:mt-0 first-child:pt-0">
		<h3 class="font-semibold text-base mb-3">External Login</h3>
		<ul class="flex items-start list-reset -mt-2 -ml-2">
			@foreach (var provider in Model.VisibleExternalProviders)
			{
				<li class="pt-2 pl-2">
					<a class="btn btn-line btn-small"
						 asp-action="ExternalLogin"
						 asp-route-provider="@provider.AuthenticationScheme"
						 asp-route-returnUrl="@Model.ReturnUrl">
						@provider.DisplayName
					</a>
				</li>
			}
		</ul>
	</section>
}

@if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
{
	<div class="message message-warning" role="alert">
		<div>
			<h2 class="text-base">Invalid login request</h2>
			<ul class="mt-1">
				<li>There are no login schemes configured for this client</li>
			</ul>
		</div>
	</div>
}