@model RegisterViewModel

@section banner
{
	<div class="bg-navy text-white px-6 py-8 md:py-12 lg:py-16 relative z-10">
		<div class="container w-full text-left mx-auto self-center">
			<div class="max-w-lg">
				<div class="flex flex-wrap items-center">
					<h1 class="font-bold w-full text-3xl lg:text-4xl leading-tight">Register</h1>
				</div>
			</div>
		</div>
	</div>
}

<div class="message message-error" role="alert">
	<div>
		<h3 class="text-base mb-1 uppercase">Danger!</h3>
		<ul>
			<li><u>DO NOT</u> use this registration in production</li>
			<li>This is intended for demo purposes only</li>
		</ul>
	</div>
</div>

@if (Model.IsSuccess)
{
	<div class="message message-success" role="alert">
		<div>
			<h3 class="text-base mb-1">Success</h3>
			<ul>
				<li>New user registration was successfully completed</li>
			</ul>
		</div>
	</div>
}

@Html.Partial("_ValidationSummary")

<form asp-route="Register" method="post">
	<div class="form-group">
		<label class="form-label" asp-for="Username"></label>
		<input class="form-control" asp-for="Username" />
	</div>
	<div class="form-group">
		<label class="form-label" asp-for="Password"></label>
		<input type="password" class="form-control" asp-for="Password" autocomplete="off" />
	</div>
	<div class="form-group">
		<label class="form-label" asp-for="ConfirmPassword"></label>
		<input type="password" class="form-control" asp-for="ConfirmPassword" autocomplete="off" />
	</div>
	<div class="form-actions">
		<button class="btn" type="submit">Register</button>
	</div>
</form>