/* roboto-400 */
@font-face {
	font-family: 'Roboto';
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url('/fonts/google/webfonts/roboto-400.woff2') format('woff2'), url('/fonts/google/webfonts/roboto-400.woff') format('woff');
}

/* roboto-500 */
@font-face {
	font-family: 'Roboto';
	font-display: swap;
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Medium'), local('Roboto-Medium'), url('/fonts/google/webfonts/roboto-500.woff2') format('woff2'), url('/fonts/google/webfonts/roboto-500.woff') format('woff');
}

/* roboto-700 */
@font-face {
	font-family: 'Roboto';
	font-display: swap;
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url('/fonts/google/webfonts/roboto-700.woff2') format('woff2'), url('/fonts/google/webfonts/roboto-700.woff') format('woff');
}

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */

@tailwind preflight;

@import "preflight/reset.css";

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */

@import "components/js.css";
@import "components/buttons.css";
@import "components/containers.css";
@import "components/cms.css";
@import "components/forms.css";
@import "components/messages.css";
@import "components/row-block.css";
@import "components/skip-link.css";

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */

@tailwind utilities;

@import "utilities/clear.css";
@import "utilities/columns.css";
@import "utilities/hyphens.css";
@import "utilities/position.css";
@import "utilities/transitions.css";
@import "utilities/translate.css";
@import "utilities/wordbreak.css";
@import "utilities/wordspacing.css";