@section banner
	{
	<div class="bg-navy text-white px-6 py-8 md:py-12 lg:py-16 relative z-10">
		<div class="container w-full text-left mx-auto self-center">
			<div class="max-w-lg">
				<div class="flex flex-wrap items-center">
					<h1 class="font-bold w-full text-3xl lg:text-4xl leading-tight">Welcome to IdentityServer4</h1>
				</div>
			</div>
		</div>
	</div>
}

<div class="cms">
	<p><strong>IdentityServer publishes a <a href="~/.well-known/openid-configuration">discovery document</a> where you can find metadata and links to all the endpoints, key material, etc.</strong></p>
	<ul class="no-print">
		<li>Manage your <a href="~/grants">stored grants</a></li>
		<li>View the <a href="https://github.com/identityserver/IdentityServer4" target="_blank">source code repository</a></li>
		<li>Find examples and <a href="https://github.com/identityserver/IdentityServer4.Samples" target="_blank">ready to use samples</a></li>
		<li>View the <a href="https://www.identityserver.com/documentation/adminui" target="_blank">AdminUI documentation</a></li>
	</ul>
</div>